# Python virtual environment
venv/
.venv/

# Unity temporary/cache files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# IDE & project files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
.vscode/settings.json


# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db

data_automation.py
Data/Data.csv