# Python virtual environment
venv/

# Unity temporary/cache files
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# IDE & project files
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db
